<style type="text/css">
    .treeview-menu li.active{
        background: #2b2b2b !important;
    }
</style>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" style="background: #2b2b2b;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/assets/uploads/admin_profile_image/dummy.jpg"
                    class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>Admin</p>
            </div>
        </div>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
                
            <li class="active">
                <a href="/dashboard">
                    <i class="fa fa-tachometer"></i> <span>Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/posts">
                    <i class="fa fa-list"></i> <span>Post Management</span>
                </a>
            </li>
            <li>
                <a href="/footer">
                    <i class="fa fa-list"></i> <span>Footer Management</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>